<p>
  <small>Si vous pensez que nous avons fait une erreur, <a href="https://bib.umontreal.ca/nous-joindre/nous-ecrire">vous pouvez nous &eacute;crire</a> et nous ferons tout notre possible pour la corriger rapidement.</small>
</p>