<header id="udem-header">
  <div class="container">
    <h1>
      <a id="udem-header-logo" href="https://www.umontreal.ca/">Université de Montréal</a>
      <span id="udem-header-logo-separator"></span>
      <small id="udem-header-title">
        <span class="sep">/</span>
        <a href="https://bib.umontreal.ca/"><img alt="Les bibliothèques" src="data-url:images/logo-bib.svg" /></a>
      </small>
    </h1>

    <a href="https://reseau.umontreal.ca/BIB" title="Faire un don à l’Université de Montréal" class="udem-je-donne"><span>Je donne</span></a>

    <nav id="udem-phone-menu">
      <a class="udem-phone-menu-primary" href="#udem-primary-nav">
        <b><span></span><span></span><span></span></b>
        <span class="sr-only">Menu</span>
      </a>

      <a class="udem-phone-menu-search" href="#udem-search-menu">
        <svg viewBox="0 0 48 48">
          <path d="M.05 19.615q0 3.995 1.558 7.63 1.558 3.636 4.175 6.253t6.252 4.175q3.635 1.558 7.63 1.558l.08-.04.2.04q5.633 0 10.467-3.116L41.358 47.1q1.039.92 1.778.9.739-.02 1.698-.9l2.316-2.355q.8-1.04.8-1.859t-.8-1.578L36.206 30.322q3.074-4.754 3.074-10.427l-.04-.2.04-.08q0-3.995-1.558-7.63-1.558-3.636-4.175-6.252-2.617-2.617-6.252-4.175Q23.66 0 19.665 0t-7.63 1.558Q8.4 3.116 5.784 5.733 3.166 8.35 1.608 11.985.05 15.62.05 19.615zm6.752 0q0-3.515 1.717-6.472 1.718-2.956 4.675-4.674 2.956-1.718 6.47-1.718 3.517 0 6.473 1.718 2.957 1.718 4.674 4.674 1.718 2.957 1.718 6.472 0 3.516-1.718 6.472-1.717 2.956-4.674 4.674-2.956 1.718-6.472 1.718-3.515 0-6.471-1.718-2.957-1.718-4.675-4.674-1.717-2.956-1.717-6.472z" />
        </svg>
        <span class="sr-only">Rechercher</span>
      </a>

      <a class="udem-phone-menu-links" href="#udem-links-menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <path d="M39.987 0H8.013q-.839 0-1.418.58-.58.579-.58 1.418V47.96L24 30.215 41.985 48V1.998q0-.839-.58-1.418Q40.826 0 39.987 0Z" />
        </svg>
        <span class="sr-only">Liens UdeM</span>
      </a>

      <a class="udem-phone-menu-quick" href="#udem-quick-menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <path d="M24 0q-2.705 0-4.625 1.92t-1.92 4.625q0 2.706 1.92 4.626 1.92 1.92 4.625 1.92t4.625-1.92q1.92-1.92 1.92-4.626 0-2.705-1.92-4.625T24 0Zm0 17.455q-2.705 0-4.625 1.92T17.455 24q0 2.705 1.92 4.625T24 30.545q2.705 0 4.625-1.92T30.545 24q0-2.705-1.92-4.625T24 17.455zm0 17.454q-2.705 0-4.625 1.92t-1.92 4.626q0 2.705 1.92 4.625T24 48q2.705 0 4.625-1.92t1.92-4.625q0-2.706-1.92-4.626-1.92-1.92-4.625-1.92z" />
        </svg>
        <span class="sr-only">Liens rapides</span>
      </a>
    </nav>

    <nav id="udem-quick-menu">
      <h2 class="sr-only">Liens rapides</h2>
      <ul class="nav">
        <li>
          <a href="https://bib.umontreal.ca/horaires"><span>Horaires</span></a>
        </li>
        <li>
          <a href="https://bib.umontreal.ca/nous-joindre"><span>Nous joindre</span></a>
        </li>
        <li>
          <a href="https://umontreal.account.worldcat.org/account"><span>Mon dossier</span></a>
        </li>
      </ul>
    </nav>

    <nav id="udem-links-menu">
      <h2 class="sr-only">Liens externes</h2>
      <ul class="nav">
        <li>
          <a href="https://www.umontreal.ca/#udemwww-search-personne"><span>Répertoire</span></a>
        </li>
        <li>
          <a href="https://www.umontreal.ca/facultes-et-ecoles/"><span>Facultés</span></a>
        </li>
        <li>
          <a href="https://bib.umontreal.ca/"><span>Bibliothèques</span></a>
        </li>
        <li>
          <a href="https://plancampus.umontreal.ca/"><span>Plan campus</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connexion<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="https://monudem.umontreal.ca/"><span>Mon UdeM</span></a>
            </li>
            <li>
              <a href="https://studium.umontreal.ca/"><span>StudiUM</span></a>
            </li>
            <li>
              <a href="https://outlook.umontreal.ca/"><span>Mon courriel</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://reseau.umontreal.ca/BIB" title="Faire un don à l’Université de Montréal" class="udem-je-donne"><span>Je donne</span></a>
        </li>
      </ul>
    </nav>

    <div id="udem-search-menu">
      <h2 class="sr-only">Rechercher</h2>
      <form method="get" action="https://google.com/cse" class="udem-search-form">
        <input type="hidden" name="cx" value="011926736769028447783:qlpu3so2kqq" />
        <input type="hidden" name="sa.x" value="23" />
        <input type="hidden" name="sa.y" value="10" />
        <input type="hidden" name="ie" value="UTF-8" />

        <div class="clearfix">
          <input type="text" name="q" value="" class="udem-search-input" placeholder="Rechercher" />
          <button type="submit" class="udem-search-button" title="Rechercher" aria-label="Rechercher">
            <span class="icon-search">
              <svg viewBox="0 0 48 48">
                <path d="M.05 19.615q0 3.995 1.558 7.63 1.558 3.636 4.175 6.253t6.252 4.175q3.635 1.558 7.63 1.558l.08-.04.2.04q5.633 0 10.467-3.116L41.358 47.1q1.039.92 1.778.9.739-.02 1.698-.9l2.316-2.355q.8-1.04.8-1.859t-.8-1.578L36.206 30.322q3.074-4.754 3.074-10.427l-.04-.2.04-.08q0-3.995-1.558-7.63-1.558-3.636-4.175-6.252-2.617-2.617-6.252-4.175Q23.66 0 19.665 0t-7.63 1.558Q8.4 3.116 5.784 5.733 3.166 8.35 1.608 11.985.05 15.62.05 19.615zm6.752 0q0-3.515 1.717-6.472 1.718-2.956 4.675-4.674 2.956-1.718 6.47-1.718 3.517 0 6.473 1.718 2.957 1.718 4.674 4.674 1.718 2.957 1.718 6.472 0 3.516-1.718 6.472-1.717 2.956-4.674 4.674-2.956 1.718-6.472 1.718-3.515 0-6.471-1.718-2.957-1.718-4.675-4.674-1.717-2.956-1.717-6.472z" />
              </svg>
            </span>
            <span class="sr-only sr-only-focusable">Rechercher</span>
          </button>
        </div>

        <div class="clearfix">
          <label>
            <input type="radio" name="scope" value="bib.umontreal.ca" checked="checked" />
            Ce site
          </label>
          <label>
            <input type="radio" name="scope" value="umontreal.ca" />
            Tout UdeM
          </label>
        </div>
      </form>
    </div>
  </div>
</header>