.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 22px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #333333;
}

.breadcrumb > .active {
  color: #48566b;
}

#udem-breadcrumb {
  background: #ffffff;
  font-weight: 600;
}

#udem-breadcrumb a {
  color: #333333;
}

#udem-breadcrumb .breadcrumb {
  background: transparent;
  font-size: 13px;
}

@media (max-width: 767px) {
  #udem-breadcrumb .breadcrumb {
    margin-bottom: 0;
    font-size: 85%;
    font-weight: normal;
  }
}

@media print {
  #udem-breadcrumb a[href]::after {
    content: none;
  }

  #udem-breadcrumb .breadcrumb {
    padding: 0 10px;
    margin: 0;
  }
}

@media print and (min-width: 768px) {
  #udem-breadcrumb .breadcrumb {
    padding: 0;
  }
}