.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.row:after,
.nav:after {
  clear: both;
}

.csc-frame-default li {
  margin-bottom: 0.5em;
}

@media (max-width: 767px) {
  body > * > .container {
    padding-left: 0;
    padding-right: 0;
    /* Remove unwanted horizontal scroll bar on Phone/Tablet for Udem grid layout. */
  }

  body > * > .container > .row {
    margin-left: 0;
    margin-right: 0;
  }

  body > * > .container > .row > [class*="col-md-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

#udem-primary-contents {
  font-size: 15px;
}

#udem-primary-contents > .container {
  margin-bottom: 20px;
}

/* Fix the footer to be always on bottom if the height of the screen is higher than the content of the page. */
@media screen and (min-width: 601px) {
  #udem-primary-contents {
    flex: 1 1 auto;
  }
}