@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1240px) {
  .hidden-lg {
    display: none !important;
  }
}