#udem-primary-nav > .container > ul > li > .udem-mega-menu-item h4.udem-pastille-places {
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1239px) {
  h4.udem-pastille-places::before {
    content: url("data-url:/src/images/megamenu/espaces.svg");
    display: inline-block;
    width: 70.5px;
    height: 70.5px;
    margin-top: -18px;
    margin-right: 9px;
    flex: 0 0 70.5px;
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  h4.udem-pastille-places > a {
    display: flex;
    flex: 0 0 auto;
    color: inherit;
    max-width: 100%;
    align-items: baseline;
    margin-left: -79.5px;
    padding-left: 79.5px;
    margin-top: -18px;
    padding-top: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  h4.udem-pastille-places {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    padding-top: 18px;
  }

  h4.udem-pastille-places > a::after {
    content: url("data-url:/src/images/icons/icon-chevron-right-blue.svg");
    width: 1em;
    height: 1em;
    position: relative;
    top: 14px;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
  }
}

#espaces-creation-numerique a::before {
  font: unset !important;
  content: url("data-url:/src/images/icons/icon-chevron-right-blue.svg") !important;
  width: 1em;
  height: 1em;
  position: relative;
  top: 14px;
  right: 0;
  padding: 0;
  margin: 0;
}