
  <div class="udem-mega-menu-item">
    <div class="udem-mega-menu-gapfiller"></div>
    <div class="udem-mega-menu-header"></div>
    <div class="udem-mega-menu-inner">
    <div id="c67027" class="csc-frame csc-frame-default CType-gridelements_pi1 section_frame-101 ge-layout-udembootstrap_container"><div id="c81958" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_3cols"><div class="row"><div class="  col-md-8 "><div id="sofia" data-udem-cuid="c173887" class="csc-frame csc-frame-default CType-udembib_recherche_sofia"><div class="udembib-recherche-sofia">
  <form
    data-url_with_articles="https://umontreal.on.worldcat.org/search?queryString=#T#&amp;databaseList=283,638&amp;clusterResults=true&amp;baseScope=wz%3A11098&amp;lang=fr&amp;stickyFacetsChecked=on&amp;changedFacet=database&amp;database=Xwc&amp;overrideStickyFacetDefault=true"
    data-url_without_articles="https://umontreal.on.worldcat.org/search?queryString=#T#&amp;databaseList=283,638&amp;clusterResults=true&amp;baseScope=wz%3A11098&amp;lang=fr"
    data-url_advanced_search="https://umontreal.on.worldcat.org/advancedsearch"
  >
    
    <div class="row">
      <div class="col-xs-12 col-sm-11">
        <div class="udem-pastille-collection-sofia">
          <div>
            
              <div class="input-label">Sofia</div>
            

            <div class="input-group">
              <label class="udembib-recherche-sofia-index">
                <span class="sr-only">Choisir un index</span>
                <select class="form-control">
                  <option value="kw" selected="">Mot-clé</option>
                  <option value="au">Auteur</option>
                  <option value="su">Sujet</option>
                  <option value="ti">Titre</option>
                </select>
              </label>

              <label for="udembib-recherche-sofia-query-1" class="sr-only">Rechercher le texte</label>
              <input type="text" placeholder="Titre, auteur, sujet" class="form-control udembib-recherche-sofia-query" required autocomplete="off" id="udembib-recherche-sofia-query-1">

              <span class="input-group-btn">
                <span class="close">&times</span>
                <button class="btn btn-default" type="submit" title="Rechercher" aria-label="Rechercher">
                  <span class="glyphicon glyphicon-search"></span>
                  <span class="sr-only">Rechercher sur Sofia</span>
                </button>
              </span>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" class="udembib-recherche-sofia-exclude-articles">
                Exclure les articles
              </label>
            </div>

            
              <div class="recherche-avancee">
                <a href="https://umontreal.on.worldcat.org/advancedsearch" target="_blank" >
                  Recherche avancée
                </a>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div></div><div class="  col-md-2 "><div id="c119964" class="csc-frame csc-frame-default csc-space-before-10 CType-text"><div class="csc-text-text"><p class="bodytext">&nbsp;</p></div></div><div id="c82923" class="csc-frame csc-frame-default CType-menu_pages CType-menu layout-1 header_layout-100"<div class="udem-menu-wrapper"><ul class="csc-menu csc-menu-def"><li><a href="https://umontreal.account.worldcat.org/account" title="Mon dossier">Mon dossier</a></li><li><a href="/guides/bd/sofia" title="Sofia">Aide Sofia</a></li></ul></div></div><div class="  col-md-2 "></div></div></div></div><div id="c86823" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_container"><div id="c67009" class="csc-frame csc-frame-default csc-space-after-1 CType-gridelements_pi1 section_frame-107 ge-layout-udembootstrap_2cols"><div class="row"><div class="  col-md-6 "><div id="c120687" class="csc-frame csc-frame-default CType-html"><style>
    .udembib-recherche-atrium .input-label {
      font-size: 16px;
      font-weight: 600;
    }
  
  #c67009{
    background: transparent;
    padding-top: 0;
  }
  
  #c119959,
  #c70124  {
    padding-right: 10px;
  }
  
  #c119959 h4,
  #c70124 h4  {
    font-size: 16px;
    line-height: inherit;
    margin: 0;
  }
  
  #c119959 ul,
  #c70124 ul {
    padding-left: 0;
  }

  #c119959 li,
  #c70124 li {
    list-style-type: none;
  }

  #c119959 li > a,
  #c70124 li > a  {
    display: block;
    position: relative;
    padding: 10px 30px 10px 10px;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #999;
  }
  
  #c119959 li:last-child > a,
  #c70124 li:last-child > a  {
    border-bottom: 0;
  }
  
  #c119959 li > a:hover,
  #c70124 li > a:hover  {
    background: #f7f7f7;
    color: #333333;
  }
  
  #c119959 li > a:hover::before,
  #c70124 li > a:hover::before  {
    color: #719ffa;
  }
  
  #c119959 li > a::before,
  #c70124 li > a::before  {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e258";
    color: #4169b2;
    margin-left: 0;
    border-radius: 0;
    background: transparent;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.75em;
    font-size: 1em;
    margin-right: .5em;
    padding: .333em;
  }
  
  #c70124 li.list-item-chevron {
    /*color: silver;*/
    font-style: italic;
    opacity: .5;
  }
  
  #c70124 li.list-item-chevron::before{
    content: none;
  }
  
  #c119959 .texte-petit {
    font-size: .8em;
    font-weight: 300;
    }
  
</style></div><div id="c119959" class="csc-frame csc-frame-default CType-text"><div class="csc-text-text"><ul><li><a href="/periodiques"> <h4>Articles et périodiques électroniques</h4> </a></li> <li><a href="https://libguides.bib.umontreal.ca/az.php"><h4>Bases de données de A à Z</h4></a></li> <li><a href="/papyrus"> <h4>Papyrus<br /><span class="texte-petit">Dépôt institutionnel</span></h4> </a></li> <li><a href="/geoindex"> <h4>GéoIndex<br /><span class="texte-petit">Données géospatiales</span></h4> </a></li> <li><a href="/calypso"> <h4>Calypso<br /><span class="texte-petit">Collections d'objets numériques</span></h4> </a></li>  <li><a href="/travailler/soutien-informatique/proxy"> <h4>Proxy<br /><span class="texte-petit">Accès hors campus</span></h4> </a></li></ul></div></div></div><div class="  col-md-6 "><div id="c119960" class="csc-frame csc-frame-default CType-gridelements_pi1 section_frame-107 ge-layout-udembootstrap_container"><div id="c119961" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_2cols"><div class="row"><div class="  col-md-6 "><div id="c67010" class="csc-frame csc-frame-default CType-menu_subpages CType-menu layout-1 header_layout-4"<div class="udem-menu-wrapper"><div class="csc-header"><h4 class="csc-firstHeader">Consulter nos guides</h4></div><ul class="csc-menu csc-menu-1"><li><a href="/guides/methodologie" title="Méthodologie de recherche d'information">Méthodologie de recherche d'information</a></li><li><a href="/guides/bd" title="Bases de données, catalogues et moteurs de recherche">Bases de données, catalogues et moteurs de recherche</a></li><li><a href="/guides/types-documents" title="Types de documents">Types de documents</a></li><li><a href="/guides/donnees-statistiques-geospatiales" title="Données statistiques et géospatiales">Données statistiques et géospatiales</a></li><li><a href="/guides/nouvel-etudiant" title="Première fois aux bibliothèques/UdeM?">Première fois aux bibliothèques/UdeM?</a></li></ul></div></div><div class="  col-md-6 "><div id="c67011" class="csc-frame csc-frame-default CType-menu_subpages CType-menu layout-1 header_layout-4"<div class="udem-menu-wrapper"><div class="csc-header"><h4 class="csc-firstHeader">Emprunter</h4></div><ul class="csc-menu csc-menu-1"><li><a href="/emprunter/inscription-privileges" title="Inscription et privilèges d'emprunt">Inscription et privilèges d'emprunt</a></li><li><a href="/emprunter/document" title="Obtenir un document">Obtenir un document</a></li><li><a href="/emprunter/peb" title="Prêt entre bibliothèques">Prêt entre bibliothèques</a></li><li><a href="/emprunter/materiel-informatique" title="Matériel informatique">Matériel informatique</a></li><li><a href="/emprunter/renouvellement-retour" title="Renouvellement et retour">Renouvellement et retour</a></li><li><a href="/emprunter/frais" title="Frais, sanctions et avis">Frais, sanctions et avis</a></li></ul></div></div></div></div><div id="c122869" class="csc-frame csc-frame-default CType-html section_frame-107">
</div></div></div></div></div></div>
    </div>
  </div>
