
  <div class="udem-mega-menu-item">
    <div class="udem-mega-menu-gapfiller"></div>
    <div class="udem-mega-menu-header"></div>
    <div class="udem-mega-menu-inner">
    <div id="code-requis-html-et-css" data-udem-cuid="c82960" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_container"><div id="c83539" class="csc-frame csc-frame-default CType-html"><style>
#c74189 ul,
#c74191 ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
  
#c74189 ul > li:not(.hidden):not(:last-child) > a,
#c74191 ul > li:not(.hidden):not(:last-child) > a {
    border-bottom: 1px solid #999;
}
  
#c74189 ul li > a,
#c74191 ul li > a {
    display: block;
    position: relative;
    padding: 10px 30px 10px 10px;
    color: inherit;
    text-decoration: none;
}

#c74189 ul li > a:hover,
#c74191 ul li > a:hover {
background: #f7f7f7;
  color: #333333;
}

#c74189 ul li > a::before,
#c74191 ul li > a::before {
    
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e258";
    color: #3b69b0;
    margin-left: 0;
    border-radius: 0;
    background: transparent;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.75em;
    font-size: 1em;
    margin-right: .5em;
    padding: .333em;
}

#c74189 ul li > a:hover::before,
#c74191 ul li > a:hover::before {
  color: #719ffa;
}

</style></div><div id="c80747" class="csc-frame csc-frame-default CType-html"><style>
@media (min-width: 1199px) {
  #explorer-par-discipline {
    min-height: 320px;
  }

  #recherche-megamenu {
    font-size: inherit;
    width: 287px;
  }
}

.bib-recherche-megamenu--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1em;
}

@media (max-width: 1199px) {
  .bib-recherche-megamenu--container {
    border: 0;
    min-height: 110px;
  }
 
  #menu-des-pages-col1,
  #menu-des-pages-col2 {
  min-height: 16rem;
  }
}

.bib-recherche-megamenu--content {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  max-width: 100%;
}

.bib-recherche-megamenu--scrollable .typeahead.dropdown-menu {
  font-size: 15px;
  max-height: 150px;
  max-width: 400px;
  overflow-y: auto;
}
/*
.bib-recherche-megamenu--scrollable .typeahead.dropdown-menu li {
  overflow: hidden;
}*/

.bib-recherche-megamenu--scrollable .dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bib-recherche-megamenu--content ::-ms-clear {
    display: none;
}

.bib-recherche-megamenu--container .form-control-feedback {
  cursor: pointer;
  pointer-events: auto;
  z-index: 3;
 }

.bib-recherche-megamenu--container .form-control-feedback.disabled {
  color: #cccccc;
  pointer-events: none;
 }
</style></div><div id="c80748" class="csc-frame csc-frame-default CType-html"></div></div><div id="c67024" class="csc-frame csc-frame-default CType-gridelements_pi1 section_frame-101 ge-layout-udembootstrap_container"><div id="explorer-par-discipline" data-udem-cuid="c67018" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_3cols"><div class="row"><div class="  col-md-12 col-lg-4"><div id="c80277" class="csc-frame csc-frame-default CType-text"><div class="csc-text-text"><div><h4 class="udem-pastille-disciplines">Explorer par discipline</h4></div></div></div><div id="c69841" class="csc-frame csc-frame-default CType-html"><div class="bib-recherche-megamenu--container">
  <div class="bib-recherche-megamenu--content">
    <div class="bib-recherche-megamenu--scrollable">
      <div class="input-group has-feedback">
        <label for="recherche-megamenu" class="sr-only">Recherche</label>
          <input id="recherche-megamenu" type="text" class="form-control" placeholder="Rechercher">
          <span id="recherche-megamenu--clear" class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div></div></div><div class="  col-md-6 col-lg-4"><div id="c74189" class="csc-frame csc-frame-default csc-space-before-20 CType-text"><div class="csc-text-text"><ul><li> 	 		 		 <a href="/amenagement">Aménagement</a> 	 </li> <li> 	 		 		 <a href="/anthropologie-demographie-sociologie">Anthropologie, démographie, sociologie</a> 	 </li> <li> 	 		 		 <a href="/art-cinema-musique">Art, cinéma, musique</a> 	 </li> <li> 	 		 		 <a href="/communication-sciences-information">Communication, sciences de l'information</a> 	 </li> <li> 	 		 		 <a href="/criminologie-psychologie-travail-social">Criminologie, psychologie, travail social</a> 	 </li> <li> 		 		 <a href="/droit">Droit</a></li></ul></div></div></div><div class="  col-md-6 col-lg-4"><div id="c74191" class="csc-frame csc-frame-default csc-space-before-20 CType-text"><div class="csc-text-text"><ul><li> 	 		 		 <a href="/economie-politique-relations-industrielles">Économie, politique, relations industrielles</a></li><li><a href="/education-psychoeducation">Éducation, psychoéducation</a></li> <li> 	 		 		 <a href="/etudes-religieuses-histoire-philosophie">Études religieuses, histoire, philosophie</a> 	 </li> <li> 	 		 		 <a href="/informatique-mathematique-sciences-nature">Informatique, mathématiques, sciences de la nature</a> 	 </li> <li> 	 		 		 <a href="/langues-litteratures">Langues et littératures</a></li> <li> 	 		 		 <a href="/sciences-sante">Sciences de la santé</a> 	 </li></ul></div></div></div></div></div></div>
    </div>
  </div>
