
  <div class="udem-mega-menu-item">
    <div class="udem-mega-menu-gapfiller"></div>
    <div class="udem-mega-menu-header"></div>
    <div class="udem-mega-menu-inner">
    <div id="c67012" class="csc-frame csc-frame-default CType-gridelements_pi1 section_frame-101 ge-layout-udembootstrap_2cols"><div class="row"><div class="  col-md-3 "><div id="c79985" class="csc-frame csc-frame-default CType-text"><div class="csc-text-text"><h4 class="udem-pastille-places"><a href="https://calendrier.bib.umontreal.ca/r">Réserver une <br />salle de travail</a></h4></div></div><div id="espacement-pour-pousser-le-contenu-vers-le-bas" data-udem-cuid="c83002" class="csc-frame csc-frame-default CType-html"><!--<br style="height: 1.5em;" />-->
<p style="height: 1.5em;">&nbsp;</p>
</div><div id="c70121" class="csc-frame csc-frame-default CType-menu_pages CType-menu layout-1 header_layout-100"<div class="udem-menu-wrapper"><ul class="csc-menu csc-menu-def"><li><a href="/travailler/espaces" title="Espaces à découvrir">Espaces à découvrir</a></li><li><a href="/travailler/equipements" title="Équipements">Équipements</a></li><li><a href="/travailler/logiciels" title="Logiciels offerts">Logiciels offerts</a></li><li><a href="/travailler/soutien-informatique" title="Soutien informatique">Soutien informatique</a></li></ul></div><div id="c305645" class="csc-frame csc-frame-default CType-html"><style>
  #espaces-creation-numerique {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  #espaces-creation-numerique p {
    margin: 0;
    
  }
  #espaces-creation-numerique a {
    text-decoration: none;
    color: inherit;
    padding: 10px 30px 10px 10px;
    display: block;
    font-size: 14px;
    position: relative;
    
  }
  #espaces-creation-numerique a:hover {
    background: #f7f7f7;
    color: #333333;
  }
  #espaces-creation-numerique a:before {
    
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e258";
    color: #4169b2;
    margin-left: 0;
    border-radius: 0;
    background: transparent;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.75em;
    font-size: 1em;
    }
</style>


</div><div id="espaces-creation-numerique" data-udem-cuid="c305596" class="csc-frame csc-frame-default CType-textpic section_frame-107"><div class="csc-textpic-text"><div class="csc-text-text"><p class="bodytext"><a href="/travailler/espaces/creation-numerique"><strong>Espaces de création numérique</strong></a></p></div></div></div></div><div class="  col-md-9 "><div id="section-de-droite" data-udem-cuid="c285528" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_2cols"><div class="row"><div class="  col-md-8 "><div id="c70127" class="csc-frame csc-frame-default CType-header"><div class="csc-header"><h4 class="csc-firstHeader">Les bibliothèques</h4></div></div><div id="c70124" class="csc-frame csc-frame-default CType-gridelements_pi1 ge-layout-udembootstrap_2cols"><div class="row"><div class="  col-md-6 "><div id="c120685" class="csc-frame csc-frame-default CType-text"><div class="csc-text-text"><ul><li><a title="Aménagement" href="/travailler/les-bibliotheques/amenagement">Aménagement</a></li> <li><a title="Campus de Laval" href="/travailler/les-bibliotheques/laval">Campus de Laval</a></li> <li><a title="Droit" href="/travailler/les-bibliotheques/droit">Droit</a></li><li><a title="Kinésiologie" href="/travailler/les-bibliotheques/kinesiologie">Kinésiologie</a></li><li><a title="Lettres et sciences humaines" href="/travailler/les-bibliotheques/lettres-sciences-humaines">Lettres et sciences humaines</a></li><li><a title="Livres rares et collections spéciales" href="/travailler/les-bibliotheques/livres-rares-collections-speciales">Livres rares et collections spéciales</a></li><li><a href="/travailler/les-bibliotheques/marguerite-d-youville">Marguerite-d'Youville</a></li></ul></div></div></div><div class="  col-md-6 "><div id="c120686" class="csc-frame csc-frame-default CType-text"><div class="csc-text-text"><ul><li><a title="Mathématiques et informatique" href="/travailler/les-bibliotheques/mathematiques-informatique">Mathématiques et informatique</a></li><li><a title="Médecine vétérinaire" href="/travailler/les-bibliotheques/medecine-veterinaire">Médecine vétérinaire</a></li><li><a title="Musique" href="/travailler/les-bibliotheques/musique">Musique</a></li><li><a title="Parc" href="/travailler/les-bibliotheques/parc">Parc <small>(anciennement Antenne – 7077)</small></a></li><li class="list-item-chevron"></li><li><a title="Santé" href="/travailler/les-bibliotheques/sante">Santé</a></li><li><a title="Bibliothèque des sciences du Campus MIL" href="/travailler/les-bibliotheques/sciences">Sciences</a></li><li><a href="/travailler/les-bibliotheques/therese-gouin-decarie">Thérèse-Gouin-Décarie</a>&nbsp;</li></ul></div></div></div></div></div></div><div class="  col-md-4 "><div id="les-centres-de-conservation" data-udem-cuid="c285529" class="csc-frame csc-frame-default CType-header"><div class="csc-header"><h4 class="csc-firstHeader">Les centres de conservation</h4></div></div><div id="c285530" class="csc-frame csc-frame-default CType-menu_subpages CType-menu layout-1 header_layout-100"<div class="udem-menu-wrapper"><ul class="csc-menu csc-menu-1"><li><a href="/travailler/les-centres-de-conservation/centre-conservation-lionel-groulx" title="Centre de conservation Lionel-Groulx">Centre de conservation Lionel-Groulx</a></li><li><a href="/travailler/les-centres-de-conservation/centre-conservation-101" title="Centre de conservation – 101, boul. Marcel-Laurin">Centre de conservation – 101, boul. Marcel-Laurin</a></li><li><a href="/travailler/les-centres-de-conservation/depot-youville" title="Dépôt Youville">Dépôt Youville</a></li></ul></div></div></div></div></div></div></div>
    </div>
  </div>
